<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CopybetAutoTests" verbose="1"  >

<!--    parallel="methods" thread-count="2"-->

    <listeners>
        <listener class-name="A_ErrorsLogListener"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="LoginTest" />

        </classes>
    </test>

</suite>
