<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CopybetAutoTests" verbose="1"  parallel="methods" thread-count="2">

<!--    parallel="methods" thread-count="2"-->

    <listeners>
        <listener class-name="A_BaseTestListener"/>
    </listeners>

    <test name="Tests">
        <classes>
<!--            <class name="AllureTest" />-->
<!--            <class name="ParallelMethodsTest" />-->

<!--            <class name="ParallelClassOneTest" />-->
<!--            <class name="ParallelClassTwoTest" />-->

            <class name="RemoteSauceLabsTest" />
        </classes>
    </test>

</suite>
